<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>" lang="<%- lang %>">
<head>
  <title><%= title %></title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body class="toc">
  <h1><%= title %></h1>
  <h2><%= author %></h2>
  <h3><%= publisher %></h3>
  <nav id="toc" epub:type="toc">
    <ol>
      <% content[0].volumes.forEach(function(volume, index){ %>
        <li><a href="<%= content[0].href %>#g-page-<%= volume.startPage %>"><%= volume.title %></a></li>
      <% }) %>
  </ol>
  </nav>
</body>
</html>
